.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.feelings {
  padding: 10px;
}

.input {
  block-size: 30px;
  inline-size: 40px;
}

.input2 {
  block-size: 30px;
  inline-size: 200px;
  text-align: center;
  text-decoration-line: overline;
}

.button {
  font-size: xx-large;
  inline-size: 150px;
}